@charset "utf-8";

$beige-lighter: #EFF0EB;
$fd-primary: rgb(52, 36, 96);
$fd-secondary: rgb(137, 0, 200);

$scheme-main: $beige-lighter;

$navbar-item-hover-color: $fd-secondary;
$navbar-dropdown-item-hover-color: $fd-secondary;

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.lang {
    font-weight: 300;
}

.lang:hover {
    color: $fd-secondary;
}

.navbar-item, .navbar-link {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: transform 0.5s;
}

.navbar-item:hover {
    transform: translateY(-3px);
}

.navbar-item.active {
    color: $fd-secondary;
    pointer-events: none;
}

.norm-link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: $fd-primary;
}

.norm-link:hover {
    color: $fd-secondary;
}

.address {
    color: inherit;
}

.address:hover {
    color: $fd-secondary;
}


@import "~bulma/bulma.sass";